{% extends "admin/admin_base.html" %}

{% block content %}

    <!-- Outer Row -->
    <div class="row justify-content-center  mt-5">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden shadow-lg my-5">
            <div class="card-body p-0">
            
            <!-- Nested Row within Card Body -->
            <div class="row justify-content-center p-3">
                
                <!-- <div class="col-lg-6 d-none d-lg-block " style="background:url({{ url_for('static', filename = 'img/Add-category.jpg') }}); background-position: center; background-size: cover;">
                </div> -->
                <img class="img-fluid video_wrap" style="width: 280px;" src="{{ url_for('static', filename='img/add-category.png') }}" alt="">
                
                <div class="col-lg-6">
                    <h4 class="card-title mt-3 text-center">Add new category</h4>
                    <p class="text-center">Form for registering new category</p>

                    <form method="POST" action="{{ url_for('myadmin.register_category') }}" class="mx-auto" style="max-width: 350px;">

                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <div class="alert alert-danger center" role="alert">
                            {{ messages[0] }}
                    </div>
                    {% endif %}
                    {% endwith %}

                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-building"></i> </span>
                            </div>
                            <select name="company" class="form-control custom-select selectpicker" data-live-search="true" data-size="6" required>
                                <option value=""> Select Service </option>
                                {% for option in company_dropdown_options %}
                                <option value= "{{option}}"> {{option}} </option>"
                                {% endfor %}
                            </select>
                        </div> <!-- form-group end.// -->

                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-building"></i> </span>
                            </div>
                            <input name="category_name" class="form-control" autocomplete="off" placeholder="Category Name" type="text" required>
                        </div> <!-- form-group// -->

                        <div class="form-group mt-4">
                            <button type="submit" class="btn btn-primary btn-block"> Add Category </button>
                        </div> <!-- form-group// -->      
                                                                                 
                    </form>
                </div>
            </div>
          </div>
        </div>


        <div class="card o-hidden shadow-lg my-5">
            <div class="card-body p-0">
            
            <!-- Nested Row within Card Body -->
            <div class="row justify-content-center p-3">
                
                <!-- <div class="col-lg-6 d-none d-lg-block " style="background:url({{ url_for('static', filename = 'img/Add-category.jpg') }}); background-position: center; background-size: cover;">
                </div> -->
                <img class="img-fluid video_wrap" style="width: 280px;" src="{{ url_for('static', filename='img/remove-category.png') }}" alt="">
                
                <div class="col-lg-6">
                    <h4 class="card-title mt-3 text-center">Remove category</h4>
                    <p class="text-center">Form to remove any category</p>

                    <form method="POST" action="{{ url_for('myadmin.register_category') }}" class="mx-auto" style="max-width: 350px;">

                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <div class="alert alert-danger center" role="alert">
                            {{ messages[0] }}
                    </div>
                    {% endif %}
                    {% endwith %}

                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-building"></i> </span>
                            </div>
                            <select name="company_remove" class="form-control custom-select selectpicker" data-live-search="true" data-size="6" required>
                                <option value=""> Select Company </option>
                                {% for option in company_dropdown_options %}
                                <option value= "{{option}}"> {{option}} </option>"
                                {% endfor %}
                            </select>
                        </div>
                    
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-building"></i> </span>
                            </div>
                            <select name="category_name_remove" class="form-control custom-select selectpicker" data-live-search="true" data-size="6" required>
                                <option value=""> Select Category </option>
                                {% for option in category_dropdown_options %}
                                <option value= "{{option}}"> {{option}} </option>"
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group mt-4">
                            <button type="submit" class="btn btn-warning btn-block"> Remove category </button>
                        </div> <!-- form-group// -->      
                                                                                 
                    </form>
                </div>
            </div>
          </div>
        </div>


      </div>
  </div>

{% endblock %}