{% extends "admin/admin_base.html" %}

{% block custom_css %}
<!-- If required add Custom CSS for this page in this block -->
{% endblock %}


{% block content %}

    <main role="main" class="container">
        <div class="row justify-content-center  mt-5">
          <div class="col-xl-8 col-lg-8 col-md-10 card p-3">
            <form method="POST" action="{{ url_for('myadmin.update_dependencies') }}">			
                <legend class="border-bottom m-2"><h1>Select Products for updates</h1></legend>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-building"></i> </span>
                    </div>
                    <select name="company" id="company_id" class="form-control custom-select selectpicker" onchange="this.form.submit()" data-live-search="true" data-size="8" required>
                        <option value=""> Select Company </option>
                        {% for item in company_dropdown_options %}
                            <option value= "{{ item }}" {%if  company==item%} selected {%endif%}> {{ item }} </option>"
                        {% endfor %}
                    </select>
                </div>
            </form>

            <form method="POST" action="{{ url_for('myadmin.update_dependencies') }}">
                <input name="company" value="{{company}}" hidden required>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-list"></i> </span>
                    </div>
                    <select name="product[]" id="product_id" class="form-control custom-select selectpicker" data-live-search="true" data-size="6" multiple required>
                        <option value=""> Select Product </option>
                        {% for item in product_dropdown_options %}
                        <option value= "{{ item }}"> {{ item.split('_')[1] }} </option>"
                        {% endfor %}
                    </select>
                </div>

                <div class="row m-2">
                    <div class="col form-check">
                        <input class="form-check-input" type="checkbox" name="featuresUpdate" id="featuresUpdate" onclick='if(this.checked == true)document.getElementById("toggle-1").style.display = "block"; else document.getElementById("toggle-1").style.display = "none";' checked>
                        <label class="form-check-label" for="featuresUpdate">
                            Features
                        </label>
                    </div>
                    <div class="col form-check">
                        <input class="form-check-input" type="checkbox" name="ratingsUpdate" id="ratingsUpdate" checked>
                        <label class="form-check-label" for="ratingsUpdate">
                            Ratings
                        </label>
                    </div>
                    <div class="col form-check">
                        <input class="form-check-input" type="checkbox" name="mapsUpdate" id="mapsUpdate" checked>
                        <label class="form-check-label" for="mapsUpdate">
                            Maps
                        </label>
                    </div>
                </div>
                
                <div class="row m-3" id="toggle-1">
                    <div class="form-label">Feature Words</div>
                    <input class="form-control" name="feature_words" type="text" autocomplete="off" placeholder="Enter comma seperated feature words for eg. product,design,sound"></input>
                </div>

                <div class="row m-2">
                    <div class="col-8 form-group">
                        <button type="submit" class="btn btn-primary btn-block btn-lg"> Submit </button>
                    </div>
                    <div class="col-4 form-group">
                        <a class="btn btn-dark btn-block btn-lg" href="{{ url_for('admin.index') }}"> Go back </a>
                    </div>
                </div> 
            </form>

            <div class="mt-2">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                  {% for message in messages %}
                    <div class="alert alert-info center" role="alert">
                      {{ message }}
                    </div>
                  {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
          </div>
        </div>

    </main>
{% endblock %}


{% block custom_js %}
<!-- If required add Custom JS for this page in this block -->
{% endblock %}