{% extends 'dashboard/base.html' %}


{% block content %}

        <!-- Begin Main Content -->
        
        <div class="container-fluid">

          <!-- Page Heading -->
          	<h1 class="h3 mb-0 text-gray-800">{{ product_name_to_display }}</h1>
          	<br>
            <p class="mb-4">Here you can find on an average state-wise how your product is rated by people all over India.</p>

	        <div class="embed-responsive embed-responsive-16by9">
	          <iframe class="embed-responsive-item" id="serviceFrameSend" src = "{{ url_for('client.fullmap_template',product_selected_by_user=product_selected_by_user,) }}"  frameborder="5" ></iframe>
	        </div>
        
        </div>
        <!-- /.container-fluid -->

        <!-- End of Main Content -->

{% endblock %}


{% block custom_js %}
<!-- As of now there is no any page level js plugin OR custom js for this page -->
<!-- If there is any, then put it inside this block -->
{% endblock %}