{% extends "client/base.html" %}


  {% block content %}
  {% block custom_css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index_styles.css') }}">
  <style type="text/css">
    .space{ height: 20%;  }
    .align{text-align: left;}
    .video_wrap {
      border-radius: 10px;
      padding: 10px;
      background: #1e406d;
      box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    }
  </style>
  {% endblock %}
  <!-- Header -->
  <header class="masthead main_header">
    <div class="container">
      <div class="intro-text">
          <br/><br/>
          <div class="intro-lead-in" style="font-size:2.5em; line-height: 1.5em;color:#eff0f1">
            <p class="main_heading">Boost your productivity 10 times</p>              
          </div><br/>
          <div class="h2 intro-lead-in" style="font-size:1.8em; line-height: 1em; color:#eff0f1"><b><p>Using Automation and Advanced AI Insights</p></b></div>
        <br/>
       <div class="row text-center">
        <div class="col-lg-12 text-center">
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger btn_main" href="#call">Free Consultation Call</a>
      </div>
      <div class=" col-3 col-md-3 col-sm-2">
      </div>
      </div>
      </div>
    </div>
  </header>

 <section class="page-section" id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Video Demonstration</h2>
          <h5 class="section-subheading text-muted" style="text-align:center; "> <p>See our software at work</p></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-play-circle fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid video_wrap" src="{{ url_for('static', filename = 'img/demo1.JPG') }}" alt="">
          </a>
          <div class="portfolio-caption" style="background-color: transparent;">
            <h4>Consumer Analytics</h4>
            <p class="text-muted"> Get to know your consumers in depth     </p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-play-circle fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid video_wrap" src="{{ url_for('static', filename = 'img/map1.PNG') }}" alt="">
          </a>
          <div class="portfolio-caption" style="background-color: transparent;">
            <h4> Consumer Map</h4>
            <p class="text-muted">Know where you can target consumers            </p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-play-circle fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid video_wrap" src="{{ url_for('static', filename = 'img/competitor1.PNG') }}" alt="">
          </a>
          <div class="portfolio-caption" style="background-color: transparent;">
            <h4>Competitor Analytics</h4>
            <p class="text-muted">Know your USP among the competitors
            </p>
          </div>
        </div>
      </div>
      <center><a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger btn_main" href="#call">Free Consultation Call</a></center>

    </div>

  </section>

  <!-- Services Grid -->
 <section class=" bg-light page-section" id="services">
    <div class="container" style="font-family: sans-serif;">
      <div class="row">
        <div class="col-lg-12 text-center" id="more">
          <h2 class="section-heading text-animation">Above 300,000 businesses have gone bust since the 2000s:
          </h2>
          <h2 class="section-heading text-animation">Will you be one of them?</h2>
          <br>
          <h3 class="section-subheading text-muted">Toys R Us was once the toy king. In the 1990s, the stores will be full of massive groups of children walking down the aisle and trying their favorite toys. </br>
            Daddy! Daddy! Will you get me this barbie? Sure, my baby. She would giggle and play with her dolls.  By 1998, things had changed, and Walmart began selling more toys than Toys R Us in the US. Now all the stores are closed and there is just to let signs on the property. Do you want to end like this??</br>
          <br>
          Intelligent Product Launches and Ad-Campaigns, Intelligent Competitor Insights, Accelerating Market Research and Increasing Productivity are some of the major challenges businesses face, especially in the modern era where market trends and competition is changing every day.
          <br>
          <br>
          <b>If you do not evolve, if you do not automate, YOU ARE LOSING OUT...</b>
          <br>
          <br>
          Imagine not having to go through excel sheets, long reports and multiple websites or platforms.
Streamline your Diversified teams and processes and take faster, intelligence driven decisions. <br><br>
With our product, get holistic business insights at one place in near real-time, with the click of a button.<br>
      
        </h3>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger btn_main" href="#call">Free Consultation Call</a>
        </div>

      </div>
    </div>
  </section>

<!-- Benefits Section-->

<section class="page-section position-relative" id="benefits">
        <div class="container">
      <div class="row text-center">
        <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Features and Benefits </h2>
      </div>
        <div class="col-md-4 mt-4">
          <span class="fa-stack fa-3x">
            <i class="fa-stack-1x fa-inverse"></i>
            <i class="fas fa-shopping-cart fa-stack-1x fa-inverse featurre_icons"></i>
          </span>
          <h4 class="service-heading">Consumer Map</h4>
          <p> <h5 class="section-subheading text-muted">A consumer map where you see how your performance and sales varies across the geographies.</h5></p>
        </div>
        <div class="col-md-4 mt-4">
          <span class="fa-stack fa-3x">
            <i class="fas fa-laptop fa-stack-1x fa-inverse featurre_icons"></i>
          </span>
          <h4 class="service-heading">Consumer Analytics</h4>
          <p> <h5 class="section-subheading text-muted">A detailed one-click dashboard where you see what your consumers are feeling for your product.</h5></p>
        </div>
        <div class="col-md-4 mt-4">
          <span class="fa-stack fa-3x">
            <i class="fas fa-lock fa-stack-1x fa-inverse featurre_icons"></i>
          </span>
          <h4 class="service-heading">Competitor Analytics</h4>
          <p> <h5 class="section-subheading text-muted">A one-click dashboard where you see your competitor reports in a single click</h5></p>
        </div>

      </div>
    </div>

</section>

  <!-- Portfolio Grid -->
<section class="bg-light page-section position-relative join_call_section" id="call">
  <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center" id="more">
        <div class="intro-text">
          <h2 class="section-heading text-uppercase" style="color: #eff0f1;">Join us in a Call</h2>
          <br> 
          <h4 class="service-heading text-muted">Join us in a free consultation call to see if and how we can help your business through our services.</h4>
            <br> 
            <br> 
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger btn_main" href="https://automizeapps.youcanbook.me/">Free Consultation Call</a>
        <br>
        <!--<h4 class="service-heading text-muted">33 booked. 17 left. Hurry!</h4>-->
      </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Portfolio Modals -->

  <!-- Modal 1 -->
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" onclick="pauseVid(0)" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-12 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Consumer Analytics
                </h2>
                <p class="item-intro text-muted"> Get to know your consumers in depth
                </p>
                <video   class=" d-block mx-auto" controls width="100%" id="myVideo1" >
                  <source  src="{{ url_for('static', filename = 'video/demo_intro.mp4') }}" alt="" type="video/mp4">
                 </video>  
                 <div class="row">
                  <div class="col-lg-12 mx-auto">
                    <div class="space"></div>
                    <h2 class="text-uppercase">What you get</h2>
                    
                   <h4 class="text-muted align"> <ul class="list-inline">

                     <li>
                       <p>
                       1. If you don't know where you are, you don't know where to go:<br>
                       Monthly analytics to understand exactly how consumers think of your product.</p>
                       
                       </li>
                       
                     <li> <p>2. Happy Customers buy again: <br>
                       With this overview, you can understand what the consumers like and hate and which features you can improve on</p></li>
                     <li>
                      <p> 3. What the consumers say are what they do: <br>
                       Get an overview of what the consumers are talking of your product</p></li>
                   </ul></h4>
                   <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger btn_main" href="https://automizeapps.youcanbook.me/">Free Demo Call</a>
                   <div class="space"></div>

                    </div>
                  </div>         
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 2 -->
  <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal"  onclick="pauseVid(1)" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-12 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Consumer Map</h2>
                <p class="item-intro text-muted">Know where you can target consumers</p>
                <video   class="img-fluid d-block mx-auto" id="myVideo2" controls width="100%">
                  <source  src="{{ url_for('static', filename = 'video/map_edit_final.mp4') }}" alt="" type="video/mp4">
                 </video>              
                 <div class="row">
                  <div class="col-lg-12 mx-auto">
                    <div class="space"></div>
                    <h2 class="text-uppercase">What you get</h2>
                    
                   <h4 class="text-muted align"> <ul class="list-inline">

                     <li>
                       <p>
                        1. The more you understand consumers the more you sell: <br>
                        Get to know where the consumers are giving better reviews and where you can sell more.
                       </p>
                     </li>  
                     <li> <p>2. If you can locate them well, they will buy:<br>
                      Geographical targetting will enable you to know exactly where you can sell better.</p></li>
                     <li>
                      <p>3. Want to switch to retail? We tell you in a map: <br>
                        If you're thinking of retail store or partnering with retailers, we tell you the locations you can sell.</p></li>
                   </ul></h4>
                   <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger btn_main" href="https://automizeapps.youcanbook.me/">Free Demo Call</a>
                   <div class="space"></div>

                    </div>
                  </div>       
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 3 -->
  <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal"  onclick="pauseVid(2)" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-12 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Competitor Analytics</h2>
                <p class="item-intro text-muted">Know your USP among the competitors.</p>
                <video   class="img-fluid d-block mx-auto" id="myVideo3" controls width="100%">
                 <source  src="{{ url_for('static', filename = 'video/competitor_edit_final.mp4') }}" alt="" type="video/mp4">
                </video>
                <div class="row">
                  <div class="col-lg-12 mx-auto">
                    <div class="space"></div>
                    <h2 class="text-uppercase">What you get</h2>
                    
                   <h4 class="text-muted align"> <ul class="list-inline">

                     <li>
                       <p>
                        1. The more you understand competitors the more you sell:<br>
                        Get to know which competitors are having good reviews and which aspect of the product
                       </p>
                     </li>  
                     <li> <p>2. Differentiate your product:<br>
                      Once you know where your competitors have issues, you can focus on that and differentiate your product.</p></li>
                     <li>
                      <p>3.Get the competitive edge:<br>
                        Knowing your competition also lets you stay ahead of it and know where you're lacking</p></li>
                   </ul></h4>
                   <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger btn_main" href="https://automizeapps.youcanbook.me/">Free Demo Call</a>
                   <div class="space"></div>

                    </div>
                  </div>   
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 4 -->
  <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Project Name</h2>
                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                <img class="img-fluid d-block mx-auto" src="{{ url_for('static', filename = 'img/portfolio/04-full.jpg') }}" alt="">
                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                <ul class="list-inline">
                  <li>Date: January 2017</li>
                  <li>Client: Lines</li>
                  <li>Category: Branding</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 5 -->
  <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Project Name</h2>
                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                <img class="img-fluid d-block mx-auto" src="{{ url_for('static', filename = 'img/portfolio/05-full.jpg') }}" alt="">
                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                <ul class="list-inline">
                  <li>Date: January 2017</li>
                  <li>Client: Southwest</li>
                  <li>Category: Website Design</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 6 -->
  <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Project Name</h2>
                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                <img class="img-fluid d-block mx-auto" src="{{ url_for('static', filename = 'img/portfolio/06-full.jpg') }}" alt="">
                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                <ul class="list-inline">
                  <li>Date: January 2017</li>
                  <li>Client: Window</li>
                  <li>Category: Photography</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script> 
   
   
    
    function pauseVid(id) { 

      var arr=['myVideo1','myVideo2','myVideo3']
      var vid = document.getElementById(arr[id]); 
      vid.pause(); 
    } 
  </script>
  {% endblock %}