<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Dashboard</title>
	<!-- Favicon Icon -->
	<!-- <link rel="icon" href="{{ url_for('static', filename = 'img/logo.png') }}" type="image/gif" sizes="16x16"> -->

	<!-- Custom fonts for this template-->
	<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'vendor/fontawesome-free/css/all.min.css') }}"> -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/external_downloads/fonts.googleapis.com.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/external_downloads/cdnjs.cloudflare.com_ajax_libs_font-awesome_5.11.2_css_all.min.css') }}">

	<!-- Custom styles for this template-->
	<link href="{{ url_for('static', filename = 'css/sb-admin-2.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename = 'css/client_index.css') }}" rel="stylesheet">


	{% block custom_css %}

	{% endblock %}

</head>

<body id="page-top">

	<!-- Top Fixed NavBar -->
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary" id="mainNav">
		<div class="container">
			<a class="navbar-brand" href="{{ url_for('client.index') }}">Reviews Cruncher</a>

			<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="navbar-collapse collapse" id="navbarResponsive">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('client.index') }}"> Home <span class="sr-only">(current)</span></a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('client.features') }}">Features</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('client.about_us') }}">About Us</a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('client.support') }}">Support</a>
					</li>
				</ul>

				<ul class="navbar-nav ml-auto">
					{% if current_user.is_authenticated %}
						<li class="nav-item active mx-3">
							<a class="nav-link btn btn-success btn-lg btn-block" href="{{ url_for('client.home_product_list') }}"> Reviews Analysis </a>
						</li>
					{% endif %}
					<br>
					{% if not current_user.is_authenticated %}
						<li class="nav-item active">
							<a class="nav-link btn btn-success btn-lg btn-block" href="{{ url_for('client.login') }}">Login</a>
						</li>
					{% endif %}

					{% if current_user.is_authenticated %}
						<li class="nav-item active">
							<a class="nav-link btn btn-success btn-lg btn-block" href="{{ url_for('client.logout') }}">Logout</a>
						</li>
					{% endif %}
				</ul>
			</div>

		</div>
	</nav>
	<!-- End of Top Nav Bar -->

	<!-- Content -->
	{% block content %}

	{% endblock %}
	<!-- End of Content -->


	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top">
		<i class="fas fa-angle-up"></i>
	</a>

	<!-- Footer -->
	<footer class="py-3 bg-primary footer">
		<div class="container text-center">
			<p class="m-0 text-white">Copyright© 2020 · AutomizeApps · All Rights Reserved · <a class="text-white" href="#">Privacy</a> · <a class="text-white" href="#">Terms</a></p>
		</div>
	</footer>
	<!-- End of Footer -->


	<!-- Bootstrap core JavaScript-->
	<script src="{{ url_for('static', filename = 'vendor/jquery/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename = 'vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

	<!-- Core plugin JavaScript-->
	<script src="{{ url_for('static', filename = 'vendor/jquery-easing/jquery.easing.min.js') }}"></script>

	<!-- Custom scripts for all pages-->
	<script src="{{ url_for('static', filename = 'js/sb-admin-2.min.js') }}"></script>


	{% block custom_js %}

	{% endblock %}


</body>

</html>