<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <!-- Custom fonts for this template-->
  <!-- <link rel="icon" href="{{ url_for('static', filename = 'img/logo.png') }}" type="image/gif" sizes="16x16"> -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'vendor/fontawesome-free/css/all.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/external_downloads/fonts.googleapis.com.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/external_downloads/bootstrap_4.4.1.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/bootstrap-select.min.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  {% block custom_css %}

	{% endblock %}
</head>
<body>
  <h1>Rendering on base Page</h1>
  {% block content %}
  <!-- Here this block fetches the main content of respective web pages -->
  {% endblock %}

  {% block custom_js %}

  {% endblock %}
</body>
</html>
