{% extends "admin/admin_base.html" %}

{% block custom_css %}
{% endblock %}


{% block content %}
<main role="main" class="container">
    <div class="row justify-content-center m-0">
        <div class="col-xl-8 col-lg-8 col-md-10">

            <h1 class="border-bottom mt-5">Competitors for Product :</h1>
            <h4>{{ product.split('_')[1] }}</h4>

            <br>
            <div class="card pl-3 pr-3">
                <form method="POST" class="row p-2" action="{{ url_for('myadmin.admin_competitor_analysis_add_competitor', company=company, product=product) }}">
                    <legend class="border-bottom"><h3>Select competitors to add</h3></legend>
                    <select name="selected_products" id="commodity" class="form-control custom-select selectpicker col-xl-10 col-lg-9 col-md-8 col-12"
                    data-live-search="true" data-size="10" multiple required>
                    {% for name_as_input in product_names %}
                        <option value = "{{ name_as_input }}">{{ name_as_input.split('_')[1] }}</option>
                    {% endfor %}
                    </select>
                    <button class="btn btn-success col" type="submit">Add</button>
                </form>
            </div>
            <br>
            <div class="card pl-3 pr-3">        
                <form method="POST" class="row p-2" action="{{ url_for('myadmin.admin_competitor_analysis_remove_competitor', company=company, product=product) }}">
                    <legend class="border-bottom"><h3>Select competitors to remove</h3></legend>
                    <select name="selected_products" id="commodity" class="form-control custom-select selectpicker col-xl-10 col-lg-9 col-md-8 col-12"
                        data-live-search="true" data-size="10" multiple required>
                        {% for name_as_input in competitor_product_names %}
                        <option value = "{{ name_as_input }}" >{{ name_as_input.split('_')[1] }}</option>
                        {% endfor %}
                    </select>
                    <button class="btn btn-danger col" type="submit">Remove</button>
                </form>
            </div>
            <br>
            <div class="card p-2">
                <form method="POST" action="{{ url_for('myadmin.admin_competitors', company=company, product=product) }}">
                    <legend class="border-bottom"><h3>Select Competitor to add Analysis</h3></legend>
                    <select name="competitor_product" id="commodity" class="form-control custom-select selectpicker"
                    data-live-search="true" data-size="6" required>
                        <option value="">Select Competitor to add Analysis</option>
                        {% for name_as_input in competitor_product_names %}
                        <option value = "{{ name_as_input }}" >{{ name_as_input.split('_')[1] }}</option>
                        {% endfor %}
                    </select>

                    <div class="row">
                        <div class="col">
                        <button class="btn btn-primary btn-block" type="submit">Add Analysis</button>
                        </div>
                    </div>
                </form>
            </div>
            
            <div class="row p-2">
                <div class="col">
                <a class="btn btn-info btn-lg btn-block" href="{{url_for('myadmin.competitor_analysis_enter_analysis', company=company, product=product, productForAnalysis=product)}}">Edit Product Analysis</a>
                </div>
                <div class="col">
                <a class="btn btn-secondary btn-lg btn-block" href="{{ url_for('admin.index') }}">Home</a>
                </div>
            </div>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="mt-4">
                        {% for message in messages %}
                            <div class="alert alert-info center" role="alert">{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        </div>
    </div>
</main>
{% endblock %}

{% block custom_js %}
{% endblock %}