{% extends "admin/admin_base.html" %}

{% block custom_css %}
<style type="text/css">
  .input-group>.input-group-prepend {
      flex: 0 0 20%;
  }
  .input-group .input-group-text {
      width: 100%;
  }
</style>
{% endblock %}


{% block content %}
  <main role="main" class="container">
	  <div class="row justify-content-center mb-5">
      <div class="col m-0">
        <form method="POST" action="{{ url_for('myadmin.competitor_analysis_enter_analysis', company=company, product=product, productForAnalysis=productForAnalysis) }}" >
    			<h1 class="border-bottom mt-5 mb-4">Enter Competitor Analysis</h1>
    			<h3 class="h3 text-gray-800">{% if productForAnalysis!=product %}[Competitor] {% endif %}{{ product_name_to_display }}</h3>

          <div class="input-group  mt-4 mb-4">
            <div class="input-group-prepend">
              <span class="input-group-text">Product Package</span>
            </div>
            <textarea id="input_product_package" class="form-control" name="product_package" aria-label="With textarea">{{ description }}</textarea>
          </div>

            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text">Online Presence</span>
              </div>
              <textarea id="input_online_presence" class="form-control" name="online_presence" aria-label="With textarea">{{ reviews }}</textarea>
            </div>

            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text">Major Issues</span>
              </div>
              <textarea id="input_major_issues" class="form-control" name="major_issues" aria-label="With textarea">{{ major_issues }}</textarea>
            </div>

            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text">Price</span>
              </div>
              <textarea id="input_price" class="form-control" name="usp" aria-label="With textarea">{{ price }}</textarea>
            </div>

            <div class="input-group mb-4" id="input_extra_field1" {% if not extra_field1 %}hidden{% endif %}>
              <div class="input-group-prepend">
              <textarea class="form-control" name="extra_field1" aria-label="With textarea">{{ extra_field1 }}</textarea>
              </div>
              <textarea class="form-control" name="extra_detail1" aria-label="With textarea">{{ extra_detail1 }}</textarea>
            </div>

            <div class="input-group mb-4" id="input_extra_field2" {% if not extra_field2 %}hidden{% endif %}>
              <div class="input-group-prepend">
                <textarea class="form-control" name="extra_field2" aria-label="With textarea">{{ extra_field2 }}</textarea>
              </div>
              <textarea class="form-control" name="extra_detail2" aria-label="With textarea">{{ extra_detail2 }}</textarea>
            </div>

            <div id="addnewfield" class="col-3 form-group" {% if extra_field1 and extra_field2 %}hidden{% endif %}>
              <button type="button" class="btn btn-dark btn-block btn-lg"  onclick="addfield()">Add field</button>
            </div>

          <div class="row">
              <div class="col-6 form-group">
                  <button type="submit" class="btn btn-primary btn-block btn-lg"> Submit </button>
              </div>
              <div class="col-3 form-group">
                  <a class="btn btn-dark btn-block btn-lg" href="{{ url_for('myadmin.admin_competitors', company=company, product=product) }}">Competitors</a>
              </div>
              <div class="col-3 form-group">
                  <a class="btn btn-danger btn-block btn-lg" href="{{ url_for('admin.index') }}"> Cancel </a>
              </div>
          </div>
	    	</form>
		  </div>
	  </div>

    <div class="row justify-content-center mt-4">
        <!-- Top Positive Reviews  - -->
        <div class="col-6">
          <div class="card shadow mb-4">
            <!--  Card Header -->
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Positive Reviews</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" width="100%" cellspacing="0">
                  <tbody>
                  {% if review_pos %}
                    {% for i in review_pos %} 
                      <tr>
                        <td> {{ i }} </td>
                      </tr>
                    {% endfor %}
                  {% else %}
                    <tr>
                      <td> Top Positive Reviews to be Shown Here. </td>
                    </tr>
                  {% endif %} 
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
          
        <!-- Top Negative Reviews - -->
        <div class="col-6">
          <div class="card shadow mb-4">
            <!--  Card Header -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary"><font color="red">Negative Reviews</font></h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" width="100%" cellspacing="0"> 
                  <tbody>
                    {% if review_neg %}
                      {% for i in review_neg %} 
                        <tr>
                          <td> {{ i }} </td>
                        </tr>
                      {% endfor %}
                    {% else %}
                      <tr>
                        <td> Top Negative Reviews to be Shown Here. </td>
                      </tr>
                    {% endif %} 
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
    </div>
  </main>
{% endblock %}


{% block custom_js %}

<script type="text/javascript">
  let addNewField1 = document.getElementById("input_extra_field1");
  let addNewField2 = document.getElementById("input_extra_field2");

  function addfield(){
    if (addNewField1.getAttribute('hidden')!=null)
      addNewField1.removeAttribute('hidden');
    else if (addNewField2.getAttribute('hidden')!=null)
      addNewField2.removeAttribute('hidden');
    if (addNewField1.getAttribute('hidden')==null && addNewField2.getAttribute('hidden')==null)
      document.getElementById("addnewfield").setAttribute("hidden","");
  }
</script>
{% endblock %}