{% extends 'admin/master.html' %}

{% block head_css %}
{{ super() }}

{% endblock %}

{% block body %}

<!-- <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Register Service</h2>
        <p class="card-text">Here you will find a registration form for registering new Services. </p>
        <a href="{{ url_for('myadmin.register_company') }}" class="btn btn-primary btn-lg btn-block">Register Service</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Customize Category</h2>
        <p class="card-text">Effortlessly manage categories with our intuitive interface. </p>
        <a href="{{ url_for('myadmin.register_category') }}" class="btn btn-primary btn-lg btn-block">Customize Category</a>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Register New Client</h2>
        <p class="card-text">Here you will find a sign up form for creating accounts for new clients.</p>
        <a href="{{ url_for('myadmin.register_user') }}" class="btn btn-primary btn-lg btn-block">Register Client</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Add New PDFs</h2>
        <p class="card-text">A content management system where you can upload multiple pdf files. </p>
        <a href="{{ url_for('myadmin.add_pdf') }}" class="btn btn-primary btn-lg btn-block">Add New PDFs</a>
      </div>
    </div>
  </div> -->

<!-- 
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Luctus accumsan tortor</h2>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
        <a href="#" class="btn btn-primary btn-lg btn-block">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Luctus accumsan tortor</h2>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
        <a href="#" class="btn btn-primary btn-lg btn-block">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
 -->
 <div style="display: flex;flex-wrap: wrap;align-items: center;justify-content: center;">
  <div style="padding: 10px;margin: 10px;background: linear-gradient(235deg, rgba(19,29,29,1) 0%, rgba(12,102,129,1) 100%);border-radius: 10px;width: 300px;height: 100px;display: flex;align-items: center;justify-content: center;">
    <p style="margin: 0;"><a style="color: #fff;font-size: 18px;" href="{{ url_for('myadmin.register_company') }}">Register new service</a></p>
  </div>
  <div style="padding: 10px;margin: 10px;background: linear-gradient(235deg, rgba(19,29,29,1) 0%, rgba(12,102,129,1) 100%);border-radius: 10px;width: 300px;height: 100px;display: flex;align-items: center;justify-content: center;">
    <p style="margin: 0;"><a style="color: #fff;font-size: 18px;" href="{{ url_for('myadmin.register_category') }}">Customize new category</a></p>
  </div>
  <div style="padding: 10px;margin: 10px;background: linear-gradient(235deg, rgba(19,29,29,1) 0%, rgba(12,102,129,1) 100%);border-radius: 10px;width: 300px;height: 100px;display: flex;align-items: center;justify-content: center;">
    <p style="margin: 0;"><a style="color: #fff;font-size: 18px;" href="{{ url_for('myadmin.register_user') }}">Register new client</a></p>
  </div>
  <div style="padding: 10px;margin: 10px;background: linear-gradient(235deg, rgba(19,29,29,1) 0%, rgba(12,102,129,1) 100%);border-radius: 10px;width: 300px;height: 100px;display: flex;align-items: center;justify-content: center;">
    <p style="margin: 0;"><a style="color: #fff;font-size: 18px;" href="{{ url_for('myadmin.add_pdf') }}">upload new pdf</a></p>
  </div>
  <div style="padding: 10px;margin: 10px;background: linear-gradient(235deg, rgba(19,29,29,1) 0%, rgba(12,102,129,1) 100%);border-radius: 10px;width: 300px;height: 100px;display: flex;align-items: center;justify-content: center;">
    <p style="margin: 0;"><a style="color: #fff;font-size: 18px;" href="{{ url_for('myadmin.over_view') }}">Go to analysis</a></p>
  </div>
 </div>

{% endblock %}
