input[type="checkbox"] {
    position: relative;
    width: 40px;
    height: 20px;
    -webkit-appearance: none;
    appearance: none;
    background: red;
    outline: none;
    border-radius: 2rem;
    cursor: pointer;
    box-shadow: inset 0 0 5px rgb(0 0 0 / 50%);
  }
  
  input[type="checkbox"]::before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
  
  input[type="checkbox"]:checked::before {
    transform: translateX(100%);
    background: #fff;
  }
  
  input[type="checkbox"]:checked {
    background: #00ed64;
  }
  /* Toggle button */
  .toggle_btn_main {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 1.5rem;
    margin-bottom: 10px;
    justify-content: center;
  }
  .toggle_btn_main p {
    margin: 0;
  }
  /* Toggle button end */
  /* #styleToggle {
    display: block;
    margin: 10px auto;
  }
  #styleToggle2 {
    display: block;
    margin: 10px auto;
  } */

/* Table */
  .table_body {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
  }
  .datepicker {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
  }
  .container-fluid form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .datepicker {
    width: 100%;
  }
  .datepicker select {
    margin: auto 20px;
  }
  /* Table end */
  /* Product dashboard */
  .product_heading {
    color: #1e406d;
    margin-bottom: 0;
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 1.2;
    margin-top: 0;
  }
  .review_analysis_card {
    border-left: 0.25rem solid #f6c23e !important;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
    height: 100%;
  }
  .verified_reviews_card {
    border-left: 0.25rem solid #36b9cc !important;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
    height: 100%;
  }
  .ratings_card {
    border-left: 0.25rem solid #1cc88a !important;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
    height: 100%;
  }
  .num_of_ratings_card {
    border-left: 0.25rem solid #1e406d !important;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
    height: 100%;
  }
  .review_analysis_card .text-uppercase {
    color: #f6c23e;
  }
  .verified_reviews_card .text-uppercase {
    color: #36b9cc;
  }
  .ratings_card .text-uppercase {
    color: #1cc88a;
  }
  .num_of_ratings_card .text-uppercase {
    color: #1e406d;
  }
  .review_analysis_card .h5,
  .verified_reviews_card .h5,
  .ratings_card .h5,
  .num_of_ratings_card .h5 {
    color: #1e406d;
  }
  
  .review_analysis_card .fas,
  .verified_reviews_card .fas,
  .ratings_card .fas,
  .num_of_ratings_card .fas {
    color: #dddfeb;
  }
  /* footer */
  footer {
    background-color: #fff !important;
    color: #212529 !important;
  }