/* Main */
.theme_one {
  background-color: #1e406d !important;
  background: #1e406d !important;
  color: #eff0f1 !important;
}
/* .form-main form, .table_body, .card, .datepicker, thead, .card-header {
  background-color: #1e406d !important;
  background: #1e406d !important;
  color: #eff0f1 !important;
} */

/* Main End */
/* Toggle button */
input[type="checkbox"] {
    position: relative;
    width: 40px;
    height: 20px;
    -webkit-appearance: none;
    appearance: none;
    background: red;
    outline: none;
    border-radius: 2rem;
    cursor: pointer;
    box-shadow: inset 0 0 5px rgb(0 0 0 / 50%);
  }
  
  input[type="checkbox"]::before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
  
  input[type="checkbox"]:checked::before {
    transform: translateX(100%);
    background: #fff;
  }
  
  input[type="checkbox"]:checked {
    background: #00ed64;
  }
  /* Toggle button */
  .toggle_btn_main {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 1.5rem;
    margin-bottom: 10px;
    justify-content: center;
  }
  .toggle_btn_main p {
    margin: 0;
  }
  /* Toggle button end */
  /* #styleToggle {
    display: block;
    margin: 10px auto;
  }
  #styleToggle2 {
    display: block;
    margin: 10px auto;
  } */
/* Toggle button End */
/* Table custom */
.table_body {
    background: #fff;
    color: #1e406d;
}
tbody {
    background: #eff0f1;
}
thead {
    background: #1e406d;
    color: #eff0f1;
}
.datepicker {
    color: #eff0f1;
    background: rgb(30,64,109);
    width: 100%;
}
.datepicker select {
    margin: auto 20px;
}
.datepicker .card-body {
    align-items: end;
} 
.form-main form {
  display: flex;
  gap: 8px;
  padding: 15px;
  background: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  margin-bottom: 15px;
}  
.btn-secondary {
    color: #e59d55;
}
/* Table custom End */
/* Navbar */
.navbar {
    background-color: #1e406d;
    color: #eff0f1;
}
.nav-titles span {
    position: relative;
    color: #fff;
    height: 4.375rem;
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    padding: 1.5rem 0.2rem;
    text-align: center;
    z-index: 1;
    transition: color 0.3s ease;
}

.nav-titles span::before {
    content: "";
    position: absolute;
    bottom: 37%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 1.5px;
    background-color: #fff;
    transition: width 0.3s ease;
}

.nav-titles span:hover::before {
    width: 100%;
}
/* Navbar End */
/* Home product list */
.heading_main {
    font-size: 25px;
    color: #1e406d;
    padding-right: 20%;
}
/* home_product_list end */
/* product_dashboard */
.product_heading {
    font-size: 25px;
    font-weight: 600;
    color: #1e406d;
  }
  .color_w {
    color: #eff0f1;
  }
  .review_analysis_card {
    background: rgb(246,194,62);
    background: linear-gradient(117deg, rgba(246,194,62,1) 0%, rgba(222,100,0,1) 100%);
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
  .verified_reviews_card {
    background: rgb(54,185,204);
    background: linear-gradient(117deg, rgba(54,185,204,1) 0%, rgba(0,116,172,1) 100%);
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
  .ratings_card {
    background: rgb(28,200,138);
    background: linear-gradient(117deg, rgba(28,200,138,1) 0%, rgba(6,150,0,1) 100%);
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
  .num_of_ratings_card {
    background: rgb(56,126,220);
    background: linear-gradient(117deg, rgba(56,126,220,1) 0%, rgba(30,50,109,1) 100%);
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
  /* product_dashboard End */